In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn import datasets
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics

In [3]:
dataset=pd.read_csv('Multiple_Linear_Regression_Advertising_data.csv')
df = pd.DataFrame(dataset)
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
dataset.keys()

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [5]:
dataset.TV[0]

230.1

In [6]:
dataset.Sales[0]

22.1

In [7]:
dataset.TV.shape

(200,)

In [8]:
dataset.Sales.shape

(200,)

In [24]:
print(df.head())
print("-------\n")

x = dataset.iloc[:,:-1].values
print(x[:5])

print("-------")


y = dataset.iloc[:, 3].values
print(y[:5])

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9
-------

[[230.1  37.8  69.2]
 [ 44.5  39.3  45.1]
 [ 17.2  45.9  69.3]
 [151.5  41.3  58.5]
 [180.8  10.8  58.4]]
-------
[22.1 10.4  9.3 18.5 12.9]

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=12)

In [26]:
x_test.shape

(40, 3)

In [28]:
regrassion = LinearRegression()

In [29]:
regrassion.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
y_predictions = regrassion.predict(x_test)

In [31]:
y_predictions[:5]

array([16.39007308,  6.55142872,  7.75824723, 14.53202646, 13.33028039])

In [32]:
y_test[:5]

array([15.5,  8.7,  7.6, 12.5, 14. ])

In [34]:
r2_score = r2_score(y_test, y_predictions)
print("R2 score is : ",r2_score)

R2 score is :  0.9125583321991082