In [150]:
import pandas as pd

In [151]:
from sklearn import datasets
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [152]:
dataset=pd.read_csv('Visitor_Prediction_Multiple_Linear_Regression_data.csv')
df = pd.DataFrame(dataset)
df.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN

In [153]:
x=dataset.iloc[:,[1,3]].values
y=dataset.iloc[:,2].values
print(x[:5])
print("-------")
print(y[:5])

[[ 183738 1706478]
 [ 193763 1690727]
 [ 210479 1726157]
 [ 240061 1855353]
 [ 446314 2041418]]
-------
[1260228 1270561 1248183 1492913 1594712]

In [154]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=12)

In [155]:
x_test.shape

(16, 2)

In [156]:
regrassion = LinearRegression()

In [157]:
regrassion.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [158]:
regrassion.coef_

array([-0.12828408,  0.75801363])

In [159]:
regrassion.intercept_

50613.599486198975

In [160]:
y_predictions = regrassion.predict(x_test)

In [161]:
y_predictions[:5]

array([1834289.68427962, 1388014.68695657, 1464425.60926812,
       1388462.43557501, 1755657.90461094])

In [162]:
print(x_train[:5],"\n")
print(x_test[:5],"\n")
print(y_train[:5],"\n")
print(y_test[:5])

[[ 217791 2313219]
 [ 110202 2145511]
 [ 162150 2278880]
 [ 343223 2224833]
 [ 353292 2279573]]

[[ 208445 2388369]
 [ 263638 1808967]
 [ 184346 1896352]
 [ 180313 1795456]
 [ 190287 2281562]]

[1821016 1689260 1780230 1568398 1689178]

[1848354 1438887 1410668 1353483 1598403]

In [163]:
r2_score = r2_score(y_test, y_predictions)
print(r2_score)

0.9055584875445936